<footer class="footer bg bg-gray py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; tiny-inventory-management 2024</span>
    </div>
</footer>

<style>
    .bg {
      background-color: #f2f2f2; /* 혹은 다른 회색빛의 HEX 또는 RGB 값으로 대체하세요. */
    }
</style>
  